<table class="stack hover">
  <thead>
  <tr>
    <th><%= t(".name") %></th>
    <th>&nbsp;</th>
  </tr>
  </thead>

  <% @resources.each do |resource| %>
    <%= render 'resource', resource: resource %>
  <% end %>
</table>

<%= paginate @resources %>

<%= link_to t(".add"), @resource_class.decorator_class.new_admin_path, class: "button" %>
